

<!-- <fb:login-button data-size="xlarge" scope="public_profile,email,publish_actions,manage_notifications" onlogin="checkLoginState();">Play Now</fb:login-button> -->

       <center>
   <p class="lead"><font color="#C48793"><span class=" glyphicon glyphicon-heart"></span><span id="status"></span>&nbsp;&nbsp;Now, Find out if your crush likes you back!!<span class=" glyphicon glyphicon-heart"></span></font></p>
<div id="shareBtn" class="btn btn-success clearfix">Share This Game</div>
<div > <a onclick='requestToFriends();' ><button class="btn btn-primary clearfix">Invite Your Friends</button></a></div>
     </center>
<div id="mfs" > List of Friends</div>

<script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    display: 'popup',
    method: 'share',
    href: 'https://apps.facebook.com/stupidcupidd/',
  }, function(response){});
}
</script>


<script>
	 function renderMFS() {
 // First get the list of friends for this user with the Graph API
 FB.api('/me/friends', function(response) {
   var container = document.getElementById('mfs');
   var mfsForm = document.createElement('form');
   mfsForm.id = 'mfsForm';

   // Iterate through the array of friends object and create a checkbox for each one.
   for(var i = 0; i < Math.min(response.data.length, 10); i++) {
     var friendItem = document.createElement('div');
     friendItem.id = 'friend_' + response.data[i].id;
     friendItem.innerHTML = '<input type="checkbox" name="friends" value="'
       + response.data[i].id
       + '" />' + response.data[i].name;
       mfsForm.appendChild(friendItem);
     }
     container.appendChild(mfsForm);

     // Create a button to send the Request(s)
     var sendButton = document.createElement('input');
     sendButton.type = 'button';
     sendButton.value = 'Send Request';
     sendButton.onclick = sendRequest;
     mfsForm.appendChild(sendButton);
   });
 }


</script>