

<!-- <fb:login-button data-size="xlarge" scope="public_profile,email,publish_actions,manage_notifications" onlogin="checkLoginState();">Play Now</fb:login-button> -->
<table >
<tr>
<td> <a href="https://apps.facebook.com/stupidcupidd"><img src="/stup.png" alt="Stup" style="width:80px;height:80px"></a></td>
<td><div class="row">
  <div class="col-xs-4"><h1 style="font-family: 'Lobster', cursive;"><font color="#FA58AC">Stupid Cupid</font></h1></div>
  <div class="col-xs"><div align="right" ><h3><b><font color="#82CAFA"><div id="status"></div></b></h3></font></div></div>
</div> </td>

</tr>

</table>
       <center>
   <p class="lead"><font color="#C48793"><span class=" glyphicon glyphicon-heart"></span>Find out if your crush likes you back!!<span class=" glyphicon glyphicon-heart"></span></font></p>

<div id="welcome"></div>
     </center>