

<!-- <fb:login-button data-size="xlarge" scope="public_profile,email,publish_actions,manage_notifications" onlogin="checkLoginState();">Play Now</fb:login-button> -->

       <center>
   <p class="lead"><font color="#C48793"><span class=" glyphicon glyphicon-heart"></span><span id="status"></span>&nbsp;&nbsp;Now, Find out if your crush likes you back!!<span class=" glyphicon glyphicon-heart"></span></font></p>
<div id="shareBtn" class="btn btn-success clearfix">Share This Game</div>
<div > <a onclick='requestToFriends();' ><button class="btn btn-primary clearfix">Invite Your Friends</button></a></div>
     </center>





<span id="mfs"></span>
<script>
	document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    display: 'popup',
    method: 'share',
    href: 'https://apps.facebook.com/stupidcupidd/',
  }, function(response){});
}


</script>




    <div class="container">

    

   
           	 <ul class="nav nav-tabs">
                <li><a href="#form" data-toggle="tab"><span class="glyphicon glyphicon-signal"></span>Please ,Give hint to Your About Your Crush</a></li>
                <li><a href="#" data-toggle="tab"><span class="glyphicon glyphicon-play"></span>               </a></li>
                <li><a href="#tel" data-toggle="tab"><span class="glyphicon glyphicon-play"></span>             </a></li>
                <li><a href="#tam" data-toggle="tab"><span class="glyphicon glyphicon-play"></span> 
                	                                                                                                  </a></li>
         
             </ul>


        <div class="tab-content">
            <div class="tab-pane fade active in" id="form">
             <p>

			<div id="mail"></div>






             </p>
            </div>
             <div class="tab-pane fade" id="hin">
             <p>
             	

             </p>
            </div>
    
    
        
            <div class="tab-pane fade" id="tel">
             <p>
             	

             </p>
            </div>
    

            <div class="tab-pane fade" id="tam">
             <p>



             </p>
            </div>

 
        </div>
            <script src="js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('.nav-tabs a:first').tab('show');
        });
    </script>