
<center>
<div class="jumbotron">

<table>
<tr>
<td> <img src="/stup.png" alt="Stup" style="width:80px;height:80px"></td>
<td><h1 style="font-family: 'Lobster', cursive;"><font color="#FA58AC">Stupid Cupid&nbsp;&nbsp;&nbsp;</font></h1></td>
</tr>
</table> 
        <p class="lead">Know If one of Your friends Have Crush On U !!</p>
        <p><fb:login-button data-size="xlarge" scope="public_profile,email,publish_actions,manage_notifications" onlogin="checkLoginState();">
</fb:login-button>

<div id="status"></div></p>
      </div></center>