
<center>
<div class="jumbotron">
<!-- <fb:login-button data-size="xlarge" scope="public_profile,email,publish_actions,manage_notifications" onlogin="checkLoginState();">Play Now</fb:login-button> -->
<table>
<tr>
<td> <img src="/stup.png" alt="Stup" style="width:80px;height:80px"></td>
<td><h1 style="font-family: 'Lobster', cursive;"><font color="#FA58AC">Stupid Cupid&nbsp;&nbsp;&nbsp;</font></h1></td>
</tr>
</table> 
        <p class="lead"><span class=" glyphicon glyphicon-heart"></span>Find out if your crush likes you back!!<span class=" glyphicon glyphicon-heart"></span></p>
        <p>
       
<div class="demo"><fb:login-button data-size="large" scope="public_profile,email,user_friends" onlogin="checkLoginState();"></fb:login-button></div>
<div id="status"></div></p>
      </div></center>