<link href="https//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" rel='javascript'>

<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



</head>

<body>
<center>

<h1>

  <p class="lead"><font color="#C48793"><span class=" glyphicon glyphicon-heart"></span><span id="status"></span>&nbsp;&nbsp;You Got Lucky!!.
  Your Crush Likes You Back<span class=" glyphicon glyphicon-heart"></span></font></p></br></br></br></br></br></br>
 </h1>
</center>

<h3>These are few details about Your Crush</h3>


<h1>Your crush details</h1>
<%= @fr.name %>
<%= @fr.email %>
<%= @fr.friend %>
<%= @fr.hint %>

