<!DOCTYPE html>
<html>
<head>
  <title>Stupidcupid</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

<link href="https//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" rel='javascript'>

<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

<div id="fb-root" ></div>


</head>
<body background="back.png">
<table >
<tr>
<td> <span style="float: left"><a href="https://apps.facebook.com/stupidcupidd"><img src="/stup.png" alt="Stup" style="width:80px;height:80px"></a></span>
</td><td>
<h1 style="font-family: 'Lobster', cursive;"><font color="#FA58AC">Stupid Cupid</font></h1></td><td>
</td>

</tr>

</table>

<%= yield %>


 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


</body>
</html>
